.alert__container {
  border: 1px solid var(--third--color);
}

.alert__all {
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.alert {
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.alert__primary {
  color: #004085;
  background-color: #94bfeb;
  border-color: #b8daff;
}

.alert__secondary {
  color: #383d41;
  background-color: #b7bac1;
  border-color: #d6d8db;
}

.alert__success {
  color: #155724;
  background-color: #a3dfb2;
  border-color: #c3e6cb;
}

.alert__danger {
  color: #721c24;
  background-color: #eba1a8;
  border-color: #f5c6cb;
}

.alert__warning {
  color: #856404;
  background-color: #f7e4a8;
  border-color: #ffeeba;
}

.alert__info {
  color: #0c5460;
  background-color: #c1e4eb;
  border-color: #bee5eb;
}

.fas {
  margin-right: 1rem;
}

.alert__primary a:hover {
  color: gray;
}
