@import url(/Components/PO/alert.css);
@import url(/Components/PO/avatar.css);
@import url(/Components/PO/badge.css);
@import url(/Components/PO/button.css);
@import url(/Components/PO/image.css);
@import url(/Components/PO/input.css);
@import url(/Components/PO/card.css);
:root {
  --compo-main-heading: rgba(0, 0, 0, 0.8);
  --example-heading: rgb(136, 123, 123);
}

.grid-container {
  display: grid;
  grid-template-columns: 25vw 1fr;
}

.compo__main-heading {
  font-size: 4.8rem;
  color: var(--compo-main-heading);
}

.example__heading {
  font-size: 3.2rem;
  color: var(--example-heading);
}

.container-div {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
}

/* side nav */

/* side nav  end*/
