:root {
  --input-border: rgb(236, 110, 110);
  --input-red-border: red;
}

.input__textBox {
  border: 2px solid var(--border-gray);
  padding: 1rem;
}
label {
  font-size: 2rem;
  font-weight: bold;
}

input {
  display: block;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 80%;
  font-size: 2rem;
  border: 2px solid var(--input-border);
}

::placeholder {
  font-size: 2rem;
}

label span {
  color: var(--input-red-border);
}

form button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--input-border);
  cursor: pointer;
}
