:root {
  --alert-primary: #004085;
  --primary-bg: #94bfeb;
  --primary-border: #b8daff;

  --alert-secondary: #383d41;
  --secondary-bg: #b7bac1;
  --secondary-border: #d6d8db;

  --alert-success: #155724;
  --success-bg: #a3dfb2;
  --success-border: #c3e6cb;

  --alert-danger: #721c24;
  --danger-bg: #eba1a8;
  --danger-border: #f5c6cb;

  --alert-warning: #856404;
  --warning-bg: #f7e4a8;
  --warning-border: #ffeeba;

  --alert-info: #0c5460;
  --info-bg: #c1e4eb;
  --info-border: #bee5eb;
}

.alert__all {
  border: 2px solid var(--border-gray);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.alert {
  width: 70%;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.alert__primary {
  color: var(--alert-primary);
  background-color: var(--primary-bg);
  border-color: var(--primary-border);
}

.alert__secondary {
  color: var(--alert-secondary);
  background-color: var(--secondary-bg);
  border-color: var(--secondary-border);
}

.alert__success {
  color: var(--alert-success);
  background-color: var(--success-bg);
  border-color: var(--success-border);
}

.alert__danger {
  color: var(--alert-danger);
  background-color: var(--danger-bg);
  border-color: var(--danger-border);
}

.alert__warning {
  color: var(--alert-warning);
  background-color: var(--warning-bg);
  border-color: var(--warning-border);
}

.alert__info {
  color: var(--alert-info);
  background-color: var(--info-bg);
  border-color: var(--info-border);
}

.fas {
  margin-right: 1rem;
}

.alert__primary a:hover {
  color: var(--border-gray);
}
