:root {
  --white: white;
  --status: rgb(6, 234, 241);
  --telegram-twitter: rgb(51, 171, 223);
  --whatsapp: rgb(77, 204, 91);
  --shopping-cart: rgb(223, 51, 151);
  --badge-notification: rgb(236, 84, 84);
}
.badges__icon-container {
  border: 2px solid var(--border-gray);
}

.badges__container-avatar {
  border: 2px solid var(--border-gray);
  margin: 2rem;
  border-radius: 0.5rem;
}

.badges__avatar-img {
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.badges__avatar-img > div {
  background-color: var(--status);
  border: 2px solid var(--white);
  position: absolute;
  border-radius: 50%;
}

.avatar-badge {
  margin: 2rem;
  border-radius: 50%;
}

.avatar-badge-lg {
  width: 200px;
  height: 200px;
}

.dot-lg {
  height: 2rem;
  width: 2rem;
  bottom: 4.2rem;
  left: 18rem;
}

.avatar-badge-md {
  height: 150px;
  width: 150;
}

.dot-md {
  height: 1.5rem;
  width: 1.5rem;
  bottom: 4.2rem;
  left: 14.2rem;
}

.avatar-badge-sm {
  height: 100px;
  width: 100;
}

.dot-sm {
  height: 1.2rem;
  width: 1.2rem;
  bottom: 3rem;
  left: 9.5rem;
}

.avatar-badge-xs {
  height: 50px;
  width: 50px;
}

.dot-xs {
  height: 1rem;
  width: 1rem;
  bottom: 2.4rem;
  left: 5.4rem;
}

/*  badges on icons */
.badges__icon-container {
  display: flex;
  padding: 2rem;
  margin: 2rem;
  justify-content: space-between;
  top: 0px;
  left: 0px;
}

.badges__icon-link {
  position: relative;
}

.badges__icon-link span {
  position: absolute;
  top: -2rem;
  right: -0.5rem;
}

.badges__icon-img a > i {
  font-size: 4rem;
}

.fa-telegram {
  color: var(--telegram-twitter);
}

.badges__icon-link .fa-twitter {
  color: var(--telegram-twitter);
}

.fa-shopping-cart {
  color: var(--shopping-cart);
}
.fa-whatsapp {
  color: var(--whatsapp);
}

.two,
.five,
.three,
.eight {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--badge-notification);
  text-align: center;
  font-size: 1.2rem;
}
