.grid__item-container {
  display: grid;
  padding: 0;
}
.two__item-grid-container {
  grid-template-columns: 1fr 1fr;
}

.three__item-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid__box {
  height: 30vh;
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
  color: var(--white);
}
.two__item-box1 {
  background-color: var(--primary-color);
}
.two__item-box2 {
  background-color: var(--gray-color);
}
.three__item-box1 {
  background-color: var(--primary-color);
}
.three__item-box2 {
  background-color: var(--gray-color);
}
.three__item-box3 {
  background-color: var(--footer-icon);
}
