.toast__items {
  background-color: var(--footer-icon);
  margin: 1rem;
  display: flex;
  padding: 2rem;
  width: max-content;
  border-radius: 1rem;
}
.toast__items span,
.toast__items i {
  color: var(--white-color);
}
.toast__items p {
  color: var(--nav-btn-bg-color);
  font-weight: 400;
}
.toast__items p,
.toast__items i {
  cursor: pointer;
}
.toast__items span,
.toast__items p {
  margin-right: 2rem;
}
